.App {
  text-align: center;
}

.App-header {
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #666;
  margin-bottom: 3rem;
}

.boxImage{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  margin: 4px;
  box-shadow: 2px 2px #bbb;
}

.foodContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foodBox{
  background-color: #fff;
  margin: 1rem;
  padding: 0.5rem;
  border: 4px;
  box-shadow: 2px 2px 2px #666;
  border-color: rgb(125, 180, 228);
  border-style: solid;
  display: flex;
  flex-direction: column;
  width: 15rem;
  justify-content: center;
  
}

.pageWrapper{
  display: flex;
}

.filterWrapper{
  border: 4px;
  box-shadow: 2px 2px 2px #666;
  border-color: rgb(27, 124, 53);
  border-style: solid;
  width: 10rem;
  flex: none;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0.5rem;
}

.cartWrapper{
  border: 4px;
  box-shadow: 2px 2px 2px #666;
  border-color: rgb(27, 124, 53);
  border-style: solid;
  width: 15rem;
  flex: none;
  margin-top: 1rem;
  margin-right: 1rem;
}

p{
  font-size: medium;
}

.descriptionLabels{
  color:rgb(25, 106, 178);
  font-weight: bold;
}

.itemOverview{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

h3{
  font-size: 24px;
}

h5{
  font-size: 18px;
  color:black;
}

.cartItem{
  justify-content: space-around;
  margin-bottom: 1rem;
}

h6{
  color: rgb(14, 67, 113);
  font-size: 18px;
  margin-block-start: 1px;
  margin-block-end: 1px;
}

h2{
  font-size: 24px;
  color:black;
}

h1{
  font-family:cursive;
  font-size: 54px;
  color:rgb(27, 124, 53);
  font-weight: bolder;
  text-shadow: 2px 2px 2px #666;
}

.fridgeHeader{
  border: 4px 4px 4px #666;
}

.buttonGroup{
  margin-top: 1rem;
  margin-bottom: 3rem;
}